.App {
  text-align: center;
}

.connecting {
  color: red;
  margin-top: 200px;
  font-size: 200%;
}

.control-panel {
    position: relative;
    width: 640px;
    height: 480px;
    display: inline-block;
}

.control-panel .camera-view,
.control-panel .navigation-view {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
