.App {
  text-align: center;
}

.control-panel {
    position: relative;
    width: 640px;
    height: 480px;
    display: inline-block;
}

.control-panel .camera-view,
.control-panel .navigation-view {
    position: absolute;
    top: 0;
    left: 0;
}
